*.log
*.csv
*.pot
*.pyc
*.sqlite3
local_settings.py
*.DS_Store
*.DS_store
*._.DS_Store
*._.DS_store
*.env
*.txt
*.vscode
*.egg-info
venv/
build/
*.sql
*__pycache__
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules